@charset "UTF-8";
/*todas as demais medias
Typical Device Breakpoint
celular: até 600px*/

@media print{
    /*impressão*/
    body{
        font-family: 'Courier New', Courier, monospace;
        background-image: url(../imagens/icon-print.png)
    }
    main {
        width: 90vw;
        border: 2px solid black;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
    /*telas Tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg)
    }

    img#phone { display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#tv{display: none;}
    img#pc {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    /*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg)
    }
    img#phone { display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#tv{display: none;}
img#pc {display: block;}
}
@media screen and (min-width: 1200px) {

    /*telas grandes*/

    body {
        background-image: url(../imagens/back-tv.jpg)
    }
    img#phone { display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#tv{display: block;}
img#pc {display: none;}
}